@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

h1, h2, h3 {
    font-family: 'pacifico', cursive ;
    font-weight: normal;
}

body {
    font-size: 12pt;
}

button {
    padding: 35px;
    font-size: 14pt;
}


section p {
    font-size: 15pt;
}