body {
    font-size: 15px;
    padding: 5px;
    font-family: arial;
}

button {
    padding: 30px;
}

section {
    padding: 15px;
    font-size: 14pt;
}
h1 {
    font-family: 'Pacifico', cursive;
}