body  {
    background-color: rgb(135, 70, 255);
    color: black;
    font-size: 15pt;
    text-align: center;
}

button {
    padding: 25px;
    border-radius: 10px;
    font-size: 13pt;
}

input {
    padding: 25px;
    border-radius: 10px;
}